// ======================================
//  Variables
// ======================================

// Colors
$white: #fff;
$grey: #777;
$sky-blue: #51ddfc;
$purple: #927bc1; 
$red: #e4757a;
$color-primary: #58e1c1; 


// Fonts
$font-stack-primary: 'Lato', sans-serif;


// Breakpoints
$break-m: 768px;
